.App-header {
  background-color: #2cecdc;
  min-height: 100vh;
  text-align: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around;
  align-content: center;
  align-items: center; */
}
.forms {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin-top: 5%;
}
.formContainer {
  color: aliceblue;
}

#nameForm {
  border: 1px solid black;
}

#loveMessage {
  color: black;
}
